<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <title>Regex Race</title>
    <meta name="description"
          content="Regex Race allows programmers to practice their JavaScript regular expression skills by disarming bombs in a race against time">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/bundle.js"></script>
    <script src="/analytics.js"></script>
  </head>
  <body ng-app="FullstackGeneratedApp">
    <div id="main" ui-view></div>
  </body>
</html>
