<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Regex Race</title>
    <meta name="description" content="Regex Race allows programmers to practice their JavaScript regular expression skills by disarming bombs in a race against time">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/magic/magic.css" />
    <link rel="stylesheet" type="text/css" href="csshake/dist/csshake.min.css">
    <link rel="stylesheet" href="buttons/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="//cdn.jsdelivr.net/phaser/2.6.1/phaser.js"></script>
    <script src="/analytics.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">

    <div id="main" ui-view></div>

</body>
</html>
