<div class="magictime swashIn transparent" id='bomb-view'>


    <div class="thumbnail col-xs-12 col-sm-12 col-md-12 transparent">

        <div class="shake shake-constant transparent">
        <div ng-class="correct===1 ? 'magictime foolishOut' : 'not-blurry'" >
        	<img ng-class="correct===3 ? 'magictime holeOut' : 'not-blurry'" src="http://blogradiocorredor.com.br/imagens/10175031032014bomba.png"></img>
        </div>
    	</div>
    </div>
    <div ng-if="!answered" class="col-xs-12 col-sm-12 col-md-12 transparent questions">
        <div class="panel panel-info">
           <div class='panel-heading text-center'>This bomb explodes in {{counter}} seconds</div> 
          <div class="panel-body">
            <h3 class="text-center">{{currentBomb.question.text}}</h3>
          </div>
        </div>
        
        <table ng-show="!currentBomb.question.forceAnswer" class="table table-sm table-inverse">
          <thead>
            <tr>
              <th><kbd>Match These</kbd></th>
              <th><kbd>Avoid These</kbd></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="testCase in testCaseArr" class='test-cases'>
              <td><kbd>{{testCase.true}}</kbd></td>
              <td><kbd>{{testCase.false}}</kbd></td>
            </tr>
          </tbody>
        </table>
        <div class='row'>
          <div ng-if='currentBomb.question.forceAnswer' class='input-margin'></div>
          <div class="transparent col-md-12 col-sm-12 input-container" >
                <input id='text-answer' ng-model="userform.answer" class="textbox " type="text" enter='diffuse(userform.answer, currentBomb.question, user.id)'> 
              <div ng-if="!answered" class='transparent buttons'>
              
              <div class='col-md-12 col-sm-12'>
                <a href="#" ng-click="diffuse(userform.answer, currentBomb.question, user.id)" class="button button-3d-primary button-circle shake-horizontal control ">DIFFUSE</a>
                <a href="#" ng-click="leave()" class="button button-3d-primary button-circle shake-slow control flaticon-paper-plane">LEAVE</a>
              </div>
              </div>
          </div>
        </div>
</div>
<diffuse-result ng-if="answered" ></diffuse-result>

      <!-- <div ng-if="!answered" class='col-xs-12 col-sm-12 col-md-12 transparent buttons'>
       <p>
           <a href="#" ng-click="diffuse(userform.answer, currentBomb.question, user.id)" class="button button-3d-primary button-circle shake-horizontal control col-xs-12 col-sm-4 col-md-4">DIFFUSE</a>
           <div id="container" class="transparent col-xs-12 col-sm-4 col-md-4">
               <input autofocus="autofocus" ng-model="userform.answer" class="textbox" type="text"> 
           </div>
           <a href="#" ng-click="leave()" class="button button-3d-primary button-circle shake-slow control flaticon-paper-plane col-xs-12 col-sm-4 col-md-4">LEAVE</a>
       </p>
     </div>
 -->

  	</div>


</div>