<div class="magictime swashIn transparent" id='bomb-view'>
	<nav>
	</nav>


    <div class="thumbnail col-xs-12 col-sm-10 col-md-10 transparent">

        <div class="shake shake-constant transparent">
        <div ng-class="correct===1 ? 'magictime foolishOut' : 'not-blurry'" >
        	<img ng-class src="http://blogradiocorredor.com.br/imagens/10175031032014bomba.png"></img>
        </div>
    	</div>
    </div>
    <div ng-if="!answered" class="thumbnail col-xs-12 col-sm-10 col-md-10 transparent questions">
        <div class="panel panel-info">
          <div class="panel-body">
            <h3 class="text-center">{{currentBomb.question.text}}</h3>
          </div>
        </div>
            
        
        <h4 class="text-center">{{currentBomb.question.answer}}</h4>
        <table ng-show="!currentBomb.question.forceAnswer"class="table table-sm table-inverse">
          <thead>
            <tr>
              <th><kbd>Match These</kbd></th>
              <th><kbd>Avoid These</kbd></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="testCase in testCaseArr" class='test-cases'>
              <td><kbd>{{testCase.true}}</kbd></td>
              <td><kbd>{{testCase.false}}</kbd></td>
            </tr>
          </tbody>
        </table>
        <div id="container" class="transparent">
    <textarea id="write" ng-model="userform.answer" rows="1" cols="6"></textarea>
    </div>
</div>
<diffuse-result ng-if="answered" ></diffuse-result>
<div ng-if="!answered" class='col-xs-12 col-sm-2 col-md-2 transparent buttons'>
        <p>
        	<a href="#" ng-click="diffuse(userform.answer, currentBomb.question, user.id)" class="button button-3d-primary button-circle shake-horizontal control ">DIFFUSE</a>
        	<a href="#" ng-click="leave()" class="button button-3d-primary button-circle shake-slow control flaticon-paper-plane">LEAVE</a>
        </p>
      </div>
  	</div>


</div>