#home {
  padding-top: 5%;
  color: cyan;
  h1 {
    text-align: center;
  },
  .list-unstyled{
    text-align: center;
    margin:20px;
  }
  h4 {
    color: magenta !important;
  }
  li {
  	margin-bottom: 20px;
  }
}

