<img src="regexlogo2.png" />

<div id='account'>
	
	<div class="row">
		<div ui-sref='home' class="col-xs-6 col-sm-2 col-md-2">
			<regex-race-logo><regex-race-logo>
		</div>
	  <div class="col-xs-6 col-sm-4 col-md-4">

	  	<h5 id="account-title">What's up, {{user.user_name}}?</h5>

	  </div>
	  <div class="col-xs-6 col-sm-3 col-md-3">
	  	<button ui-sref='home' class="button button-rounded button-flat-primary button-large">Main Menu</button>
	  </div>
	  <div class="col-xs-6 col-sm-3 col-md-3">
	  	<button class="button button-rounded button-flat-royal button-large">Update Account</button>
	  </div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
		  	<h5>How You're Doing</h5>
		  </div>
			<table class="table">
				<tbody>
			      <tr>
			        <td class='col-xs-4 col-sm-4 col-md-4'><h6 class="stats">Highest Score</h6></td>
			        <td class='col-xs-8 col-sm-8 col-md-8'>
			        	<uib-progressbar class="progress" max="topScore" value="userScore" type="danger"><i>{{userScore}}</i></uib-progressbar></div>
					</td>
			      </tr>
			      <tr>
			        <td class='col-xs-4 col-sm-4 col-md-4'><h6 class="stats">Bombs Defused</h6></td>
			        <td class='col-xs-8 col-sm-8 col-md-8'>
			        	<uib-progressbar class="progress" max="maxNum" value="diffused" type="danger"><i>{{diffused}}</i></uib-progressbar></div>
			        	
			        </td>

			      </tr>
			      <tr>
			        <td class='col-xs-4 col-sm-4 col-md-4'><h6 class="stats">Current Rank</h6></td>
			        <td class='col-xs-8 col-sm-8 col-md-8'>
			        	<div class="col-sm-2 col-md-2">
						    <div ng-if="maxNum===10" class="thumbnail transparent">
						      <img src="badge6.png">
						      <div class="caption center">
						        
						        <p class="center"><kbd>Junior Defuser</kbd></p>
						      </div>
						    </div>
						    <div ng-if="maxNum===20" class="thumbnail transparent">
						      <img src="badge7.png">
						      <div class="caption center">
						        
						        <p class="center"><kbd>Dedicated Defuser</kbd></p>
						      </div>
						    </div>
						    <div ng-if="maxNum===30" class="thumbnail transparent">
						      <img src="badge3.png">
						      <div class="caption center">
						        
						        <p class="center"><kbd>Senior Defuser</kbd></p>
						      </div>
						    </div>
						    <div ng-if="maxNum===40" class="thumbnail transparent">
						      <img src="badge9.png">
						      <div class="caption center">
						        
						        <p class="center"><kbd>Lead Defuser</kbd></p>
						      </div>
						    </div>
						</div>
			        </td>

			      </tr>
			      <tr>
			        <td class='col-xs-4 col-sm-4 col-md-4'><h6 class="stats">Honors</h6></td>
			        <td class='col-xs-8 col-sm-8 col-md-8'>
			        	<div ng-if="first" class="col-sm-2 col-md-2">
						    <div class="thumbnail transparent">
						      <img src="badge4.png">
						      <div class="caption center">
						        
						        <p><kbd>1st Place</kbd></p>
						      </div>
						    </div>
						</div>
						<div class="col-sm-2 col-md-2">
						    <div class="thumbnail transparent">
						      <img src="badge5.png">
						      <div class="caption center">
						        
						        <p class="center"><kbd>Top 10</kbd></p>
						      </div>
						    </div>
						    </div>
						<div class="col-sm-2 col-md-2">
						    <div class="thumbnail transparent">
						      <img src="regexpert.png">
						      <div class="caption center">
						        
						        <p class="center"><kbd>Regular Expert</kbd></p>
						      </div>
						    </div>
						    </div>
			        </td>

			      </tr>
			    </tbody>
			</table>
	</div>
	
	<div class="row">
		<h5>Defused Bombs</h5>
		<div ng-repeat="answer in answeredQuestions track by $index" class="col-sm-3 col-md-3">
		    <div ui-sref="answers({questionId: answer.questionId})" class="thumbnail diffused-bomb transparent">
		      <img src="defuse.png">
		      <div class="caption">
		        
		        <p><kbd>{{answer.user_answer}}</kbd></p>
		      </div>
		    </div>
		</div>
		
	</div>
	<div class="row">
		<h5>Submit Your Own RegEx Question</h5>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<button ui-sref='home' class="button button-rounded button-flat-primary button-large">Learn More</button>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6">
			<button ui-sref='home' class="button button-rounded button-flat-primary button-large">Create a Question</button>
		</div>
	</div>
</div>
<div id="answers-page">
	<div class='col-xs-12 col-sm-12 col-md-12'>
		<div class="panel panel-inverse transparent">
			<div class="panel-heading text-center">Question</div>
		  <div class="panel-body text-center">
		    <h4><kbd>{{answers[0].question.text}}</kbd></h4>
		  </div>
		</div>
	</div>
	<div class='col-xs-12 col-sm-12 col-md-12'>
		<div class="panel panel-inverse transparent">
			<div class="panel-heading text-center">Your Answer</div>
		  <div class="panel-body text-center">
		    <h4><kbd>{{myAnswer.user_answer}}</kbd></h4>
		  </div>
		</div>
	</div>
	<div ng-if="!answers[0].question.forceAnswer" class='col-xs-12 col-sm-12 col-md-12'>
		<div class="panel panel-inverse transparent">
			<div class="panel-heading text-center">Test Cases</div>
		  <div class="panel-body text-center">
		    <table class="table table-sm table-inverse">
          <thead>
            <tr>
              <th class="text-center"><h4><kbd>Test Case</kbd></h4></th>
              <th class="text-center"><h4><kbd>Should it Match?</kbd></h4></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="testCase in answers[0].question.testCases" class='test-cases'>
              <td><kbd>{{testCase.content}}</kbd></td>
              <td ng-if="testCase.match"><kbd>yes</kbd></td>
              <td ng-if="!testCase.match"><kbd>no</kbd></td>
            </tr>
          </tbody>
        </table>
		  </div>
		</div>
	</div>
	<div ng-if="!answers[0].question.forceAnswer && answers.length > 1" class='col-xs-12 col-sm-12 col-md-12'>
		<div class="panel panel-inverse transparent">
			<div class="panel-heading text-center">How Others Answered This Question</div>
		  <div class="panel-body text-center">
		    <table class="table table-sm table-inverse table-hover">
          <thead>
            <tr>
              <th class="text-center"><h4><kbd>User Name</kbd></h4></th>
              <th class="text-center"><h4><kbd>Answer</kbd></h4></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="other in otherAnswers" class='test-cases'>
              <td ui-sref="profile({userId: other.user.id, userName: other.user.user_name})"><kbd>{{other.user.user_name}}</kbd></td>
              <td ui-sref="profile({userId: other.user.id, userName: other.user.user_name})"><kbd>{{other.user_answer}}</kbd></td>
            </tr>
          </tbody>
        </table>
		  </div>
		</div>
	</div>
	<div class='col-xs-12 col-sm-12 col-md-12'>
		<button ui-sref='account' class="button button-rounded button-flat-action button-large">Back to Account</button>
	</div>
</div>
<section id="home">
  <h4 ng-if="user && user.user_name">Hey, {{user.user_name}}!</h4>
  <h4 ng-if="!user">Hey, Guest!</h4>
  <h4 id="tagline">How Many Bombs Can You Defuse?</h4>
    <div id='authButtonGroup'>
      <li><button ui-sref='play' ng-click='playGame()' class="button button-rounded button-flat-primary button-large">Play Game</button></li>
      <li ng-if="!user"><button ui-sref='login' class="button button-rounded button-flat-action button-large">Login</button></li>
      <li ng-if="user"><button ui-sref='account' class="button button-rounded button-flat-action button-large">Account</button></li>
      <li ng-if="user"><button ng-click='logout()' class="button button-rounded button-flat-royal button-large">Logout</button></li>
      <li ng-if="!user">
      </li>

    </div>
  <img id='regexLogo' src='regexlogo.png'>
    <div id='authButtonGroup'>
  	 	<div class = 'social-signup-container'>
  	 		<div ng-if='!user'>
  		        <a ui-sref='signup' class="btn btn-social btn-yahoo">
  				    <span class="fa fa-envelope-o"></span> Sign up with Email
  				</a>
  		        <a href="/auth/google" class="btn btn-social btn-google">
  				    <span class="fa fa-google"></span> Sign in with Google
  				</a>
  			</div>
  		   	<div ng-if='!user'>
  		        <a href="/auth/facebook" class="btn btn-social btn-facebook">
  				      <span class="fa fa-facebook"></span> Sign in with Facebook
  				    </a>
  		        <a href="https://github.com/nasser85/RegEx-Game" target="_blank" class="btn btn-social btn-github">
  				      <span class="fa fa-github"></span> Check out Repo
  				    </a>
  			</div>
  		</div>
    </div>

</section>

<form class="sign-up-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>
    
    <input ng-model="login.email" type="text"class="inputs" placeholder="E-mail" />
    <br> 
     <input ng-model="login.password" type="password" class="inputs"placeholder="Password" />
     <br>
     <input type="submit" value="Submit" class="button button-rounded button-flat-primary button-large"> 
             
           

</form>


<div ng-class="currentBomb || saveScore ? 'blurry' : 'not-blurry'" id="playGame"></div>
<bomb-view ng-if="currentBombActive()" ></bomb-view>
<save-score ng-show="saveScore" ></save-score>

<div id='profile'>
	<div class="row">
		<div ui-sref='home' class="col-xs-6 col-sm-3 col-md-3">
			<regex-race-logo><regex-race-logo>
		</div>
	  <div class="col-xs-6 col-sm-3 col-md-3">
	  	<button ui-sref='account' class="button button-rounded button-flat-primary button-large">Back to Your Account</button>
	  </div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 text-center">
		  	<h4>{{profileName}}'s Profile</h4>
		  </div>
			<table class="table">
				<tbody>
			      <tr>
			        <td class='col-xs-4 col-sm-4 col-md-4'><h6 class="stats">Highest Score</h6></td>
			        <td class='col-xs-8 col-sm-8 col-md-8'>
			        	<uib-progressbar class="progress" max="topScore" value="userScore" type="danger"><i>{{userScore}}</i></uib-progressbar></div>
					</td>
			      </tr>
			      <tr>
			        <td class='col-xs-4 col-sm-4 col-md-4'><h6 class="stats">Bombs Defused</h6></td>
			        <td class='col-xs-8 col-sm-8 col-md-8'>
			        	<uib-progressbar class="progress" max="maxNum" value="diffused" type="danger"><i>{{diffused}}</i></uib-progressbar></div>
			        	
			        </td>

			      </tr>
			      <tr>
			        <td class='col-xs-4 col-sm-4 col-md-4'><h6 class="stats">Current Rank</h6></td>
			        <td class='col-xs-8 col-sm-8 col-md-8'>
			        	   	<div class="col-sm-2 col-md-2">
						    <div ng-if="maxNum===10" class="thumbnail transparent">
						      <img src="badge6.png">
						      <div class="caption center">
						        
						        <p class="center"><kbd>Junior Defuser</kbd></p>
						      </div>
						    </div>
						    <div ng-if="maxNum===20" class="thumbnail transparent">
						      <img src="badge7.png">
						      <div class="caption center">
						        
						        <p class="center"><kbd>Dedicated Defuser</kbd></p>
						      </div>
						    </div>
						    <div ng-if="maxNum===30" class="thumbnail transparent">
						      <img src="badge3.png">
						      <div class="caption center">
						        
						        <p class="center"><kbd>Senior Defuser</kbd></p>
						      </div>
						    </div>
						    <div ng-if="maxNum===40" class="thumbnail transparent">
						      <img src="badge9.png">
						      <div class="caption center">
						        
						        <p class="center"><kbd>Lead Defuser</kbd></p>
						      </div>
						    </div>
						</div>
			        </td>

			      </tr>
			      <tr>
			        <td class='col-xs-4 col-sm-4 col-md-4'><h6 class="stats">Honors</h6></td>
			        <td class='col-xs-8 col-sm-8 col-md-8'>
			        	<div ng-if="first" class="col-sm-2 col-md-2">
						    <div class="thumbnail transparent">
						      <img src="badge4.png">
						      <div class="caption center">
						        
						        <p><kbd>1st Place</kbd></p>
						      </div>
						    </div>
						</div>
						<div class="col-sm-2 col-md-2">
						    <div class="thumbnail transparent">
						      <img src="badge5.png">
						      <div class="caption center">
						        
						        <p class="center"><kbd>Top 10</kbd></p>
						      </div>
						    </div>
						    </div>
						<div class="col-sm-2 col-md-2">
						    <div class="thumbnail transparent">
						      <img src="regexpert.png">
						      <div class="caption center">
						        
						        <p class="center"><kbd>Regular Expert</kbd></p>
						      </div>
						    </div>
						    </div>
			        </td>

			      </tr>
			    </tbody>
			</table>
	</div>
</div>
<div class="magictime spaceInUp">
    <div ng-if="correct===1"  class="alert alert-info">
	  <strong>Correct!</strong> You successfully defused the bomb!
	</div>
    <div ng-if="correct===2"  class="alert alert-warning">
	  <strong>Incorrect!</strong> The bomb is still active!
	</div>
	 <div ng-if="correct===3"  class="alert alert-warning">
	  <strong>You're Too Late!</strong> Kaboom!
	</div>
</div>

<div class="magictime swashIn transparent" id='bomb-view'>

    <div class="thumbnail col-xs-12 col-sm-12 col-md-12 transparent">

        <div class="shake shake-constant transparent">
        <div ng-class="correct===1 ? 'magictime foolishOut' : 'not-blurry'" >
        	<img ng-class="correct===3 ? 'magictime holeOut' : 'not-blurry'" src="TheBomb.png"></img>
        </div>
    	</div>
    </div>
    <div ng-if="!answered" class="questions col-xs-12 col-sm-12 col-md-12 transparent">
        <div class="panel panel-info">
           <div class='panel-heading text-center'>This bomb explodes in {{counter}} seconds</div>
          <div class="panel-body">
            <h3 id='current-question' class="magictime">{{currentBomb.question.text}}</h3>
          </div>
        </div>

        <div class='bomb-progress' ng-if="currentBomb.question.type === 'Generated'">
          <div class="col-xs-12 col-sm-12 col-md-12"><uib-progressbar class="progress-striped active" max="currentBomb.question.subQuestions.length" value="currentBomb.question.index" type="danger"><i></i></uib-progressbar></div>
      </div>

        <table ng-show="!currentBomb.question.forceAnswer && currentBomb.question.type !== 'Generated'" class="table table-sm table-inverse">
          <thead>
            <tr>
              <th><kbd>Match These</kbd></th>
              <th><kbd>Avoid These</kbd></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="testCase in testCaseArr" class='test-cases'>
              <td><kbd>{{testCase.true}}</kbd></td>
              <td><kbd ng-if="testCase.false">{{testCase.false}}</kbd></td>
            </tr>
          </tbody>
        </table>

        <div class='row'>
          <div ng-if='currentBomb.question.forceAnswer' class='input-margin'></div>
          <div class="transparent col-md-12 col-sm-12 input-container" >
              <input id='text-answer' ng-model="userform.answer" class="textbox " type="text" enter='defuse(userform.answer, currentBomb.question, user.id)' esc='leave()'>
              <div ng-if="!answered" class='transparent buttons'>
                <div class='col-md-12 col-sm-12'>
                  <a href="#" ng-click="defuse(userform.answer, currentBomb.question, user.id)" class="button button-3d-primary button-circle shake-horizontal control ">DEFUSE</a>
                  <a href="#" ng-click="leave()" class="button button-3d-primary button-circle shake-slow control flaticon-paper-plane">LEAVE</a>
                </div>
              </div>
          </div>
        </div>
      </div>
      <defuse-result ng-if="answered" ></defuse-result>
  	</div>
</div>

<div class="magictime swashIn transparent" id="save-score">
	<div>
		<h2>Your Score: {{score}}</h2>
		<h4 ng-show='!user' ui-sref='signup'>Sign up to save Score!</h4>
		<sign-up ng-show='!user'></sign-up>
		<button class="button button-rounded button-flat-primary button-large" ng-show='user && !scoreSubmitted' ng-click='saveToDatabase(score, user.id)'>Save Your Score</button> 
	</div>
	<div ng-show='scoreSubmitted'>
		<div id='top-score-container'>

			<table>
			  <tr>
			  	<th><h3>Rank</h3></th>
			    <th><h3>User</h3></th>
			    <th><h3>Score</h3></th>
			    <th><h3>Date</h3></th>
			  </tr>
			   
			  <tr ng-repeat = "score in topScores">
			  	<td><h4>{{ $index + 1 }}<h4></td>
			    <td><h4>{{ score.user.user_name }}<h4></td>
			    <td><h4>{{ score.score }}<h4></td>
			    <td><h4>{{ score.createdAt.slice(0, 10) }}<h4></td>
			  </tr>
			</table>
		</div>
	</div>
	<div> </div>
	<button class="button button-rounded button-flat-primary button-large" ng-click='backToHome()'> Main Menu </button> 
		
</div>
<div ng-show='!user'>
	<form name="signForm" ng-submit="createAccount(signUp)">
	  <alert type="danger" ng-show="error">
	        {{ error }}
	  </alert>
	  <input ng-model="signUp.user_name" type="text" class="inputs" placeholder="Name" />
		<input ng-model="signUp.email" type="text" class="inputs" placeholder="E-mail" />
		<input ng-model="signUp.password" type="password" class="inputs" placeholder="Password" />
		<input type="submit" value="Submit" class="button button-rounded button-flat-primary button-large">
	</form>
	</div>
</div>

<form class='sign-up-form' name="signForm" ng-submit="createAccount(signUp)">
  <alert type="danger" ng-show="error">
        {{ error }}
  </alert>
  <input ng-model="signUp.user_name" type="text" class="inputs" placeholder="Name" />
	<input ng-model="signUp.email" type="text" class="inputs" placeholder="E-mail" />
	<input ng-model="signUp.password" type="password" class="inputs" placeholder="Password" />
	<input type="submit" value="Submit" class="button button-rounded button-flat-primary button-large">
</form>

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Regex Race</title>
    <meta name="description" content="Regex Race allows programmers to practice their JavaScript regular expression skills by disarming bombs in a race against time">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/magic/magic.css" />
    <link rel="stylesheet" type="text/css" href="csshake/dist/csshake.min.css">
    <link rel="stylesheet" href="buttons/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="//cdn.jsdelivr.net/phaser/2.6.1/phaser.js"></script>
    <script src="/main.js"></script>
    <script src="/analytics.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">

    <div id="main" ui-view></div>

</body>

</html>
