<div ng-show='!user'>
	<form name="signForm" ng-submit="createAccount(signUp)">
	  <alert type="danger" ng-show="error">
	        {{ error }}
	  </alert>
	  <input ng-model="signUp.user_name" type="text" class="inputs" placeholder="Name" />
		<input ng-model="signUp.email" type="text" class="inputs" placeholder="E-mail" />
		<input ng-model="signUp.password" type="password" class="inputs" placeholder="Password" />
		<input type="submit" value="Submit" class="button button-rounded button-flat-primary button-large">
	</form>
	</div>
</div>
