<div id='profile'>
	<div class="row">
		<div ui-sref='home' class="col-xs-6 col-sm-3 col-md-3">
			<regex-race-logo><regex-race-logo>
		</div>
	  <div class="col-xs-6 col-sm-3 col-md-3">
	  	<button ui-sref='account' class="button button-rounded button-flat-primary button-large">Back to Your Account</button>
	  </div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 text-center">
		  	<h4>{{profileName}}'s Profile</h4>
		  </div>
			<table class="table">
				<tbody>
			      <tr>
			        <td class='col-xs-4 col-sm-4 col-md-4'><h6 class="stats">Highest Score</h6></td>
			        <td class='col-xs-8 col-sm-8 col-md-8'>
			        	<uib-progressbar class="progress" max="topScore" value="userScore" type="danger"><i>{{userScore}}</i></uib-progressbar></div>
					</td>
			      </tr>
			      <tr>
			        <td class='col-xs-4 col-sm-4 col-md-4'><h6 class="stats">Bombs Defused</h6></td>
			        <td class='col-xs-8 col-sm-8 col-md-8'>
			        	<uib-progressbar class="progress" max="maxNum" value="diffused" type="danger"><i>{{diffused}}</i></uib-progressbar></div>
			        	
			        </td>

			      </tr>
			      <tr>
			        <td class='col-xs-4 col-sm-4 col-md-4'><h6 class="stats">Current Rank</h6></td>
			        <td class='col-xs-8 col-sm-8 col-md-8'>
			        	   	<div class="col-sm-2 col-md-2">
						    <div ng-if="maxNum===10" class="thumbnail transparent">
						      <img src="badge6.png">
						      <div class="caption center">
						        
						        <p class="center"><kbd>Junior Defuser</kbd></p>
						      </div>
						    </div>
						    <div ng-if="maxNum===20" class="thumbnail transparent">
						      <img src="badge7.png">
						      <div class="caption center">
						        
						        <p class="center"><kbd>Dedicated Defuser</kbd></p>
						      </div>
						    </div>
						    <div ng-if="maxNum===30" class="thumbnail transparent">
						      <img src="badge3.png">
						      <div class="caption center">
						        
						        <p class="center"><kbd>Senior Defuser</kbd></p>
						      </div>
						    </div>
						    <div ng-if="maxNum===40" class="thumbnail transparent">
						      <img src="badge9.png">
						      <div class="caption center">
						        
						        <p class="center"><kbd>Lead Defuser</kbd></p>
						      </div>
						    </div>
						</div>
			        </td>

			      </tr>
			      <tr>
			        <td class='col-xs-4 col-sm-4 col-md-4'><h6 class="stats">Honors</h6></td>
			        <td class='col-xs-8 col-sm-8 col-md-8'>
			        	<div ng-if="first" class="col-sm-2 col-md-2">
						    <div class="thumbnail transparent">
						      <img src="badge4.png">
						      <div class="caption center">
						        
						        <p><kbd>1st Place</kbd></p>
						      </div>
						    </div>
						</div>
						<div class="col-sm-2 col-md-2">
						    <div class="thumbnail transparent">
						      <img src="badge5.png">
						      <div class="caption center">
						        
						        <p class="center"><kbd>Top 10</kbd></p>
						      </div>
						    </div>
						    </div>
						<div class="col-sm-2 col-md-2">
						    <div class="thumbnail transparent">
						      <img src="regexpert.png">
						      <div class="caption center">
						        
						        <p class="center"><kbd>Regular Expert</kbd></p>
						      </div>
						    </div>
						    </div>
			        </td>

			      </tr>
			    </tbody>
			</table>
	</div>
</div>