@font-face {
    font-family: gameFont;
    src: url(PressStart2P.ttf);
}

* {
  box-sizing: border-box;
  font-family: gameFont ;
}



body {
  background: #fdfdfd;
}

.textbox {
    margin-left: 30%;
    padding: 1px 20px;
    font-size: 25px;
    border: 0;
    height: 50px;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -moz-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-background-clip: padding-box;
    outline: 0;
}



.panel {
   
    margin: 0 auto;
    width: 100%;
}
.alert {
    font-family: gameFont;
    margin-top: 20%;
    width: 60%;
    margin-left: 20%;
    position: absolute;
    z-index: 9;
    text-align: center;
    padding: 25px;
}
h3 {
	font-size: 20px;
	-webkit-text-fill-color: black; /* Will override color (regardless of order) */
		   -webkit-text-stroke-color: black;
}

#question-div {
    background-color: black;
}
.buttons {
	/*margin-top: 0%;*/
    margin-left: 30%;
}
.questions {
		margin-top: 30%;
		position: absolute;
		z-index: 6;
		th {
			text-align: center;
			font-size: 25px;
		}
		td {
			font-size: 20px;
			text-align: center;
			color: white;
		}
	}

.thumbnail {
	border: 0 none;
	box-shadow: none;

	height: 100%;

	img {
		width: 100%;
	}
	#keyboard {
		display: inline;
		.key {
		width: 40px;
		height: 40px;
		background-color: cyan;
		border-radius: 30%;
	}
	}

}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.control {
	margin: 10px;
}
.transparent {
    background: rgba(0, 0, 0, 0);

}

bomb-view{
    padding-top:0%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    
}
#bomb-view {
    margin:0 auto;
    width: 800px;
    height: 600px;
}
.blurry {
	   -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
}
.not-blurry {
	   -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  filter: blur(0px);
}

.input-container {
margin: 0 auto;
width: 100%;

}

.input-margin {
   height: 100px;
}

#write {
margin: 0 0 5px;
padding: 5px;
width: 20%;
margin-left: 40%;
height: 50px;
font: 1em/1.5 Verdana, Sans-Serif;
background: #fff;
border: 5px solid black;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#main {
  padding-top: 10%;
  margin: 0 auto;
}

.jumbotron{
    font-family: gameFont;
    margin-top: 20%;
    margin-left: 40%;
    position: absolute;
    z-index: 9;
    text-align: center;
    padding: 25px;
    border-radius: 30%;
}
save-score{
    padding-top:10%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    
}
#save-score {
    margin:10px auto;
    width: 800px;
    height: 600px;
    text-align: center;
}
#top-score-container{
    table {text-align: center;}

    th , td {
      border-collapse: collapse;
      padding: 5px 10px;
      text-align: center;
    }

    
}

@import 'directives/main';
@import 'home/main';
@import 'tutorial/main';
@import 'login/main';
