@font-face {
    font-family: gameFont;
    src: url(PressStart2P.ttf);
}

* {
  box-sizing: border-box;
  font-family: gameFont ;
}



body {
  background: #fdfdfd;
}
.panel {
    margin-left: 20%;
    width: 60%;
}
h3 {
	font-size: 20px;
	-webkit-text-fill-color: black; /* Will override color (regardless of order) */
		   -webkit-text-stroke-color: black;
}

#question-div {
    background-color: black;
}
.buttons {
	margin-top: 10%;
}
.questions {
		margin-top: 20%;
		position: absolute;
		z-index: 6;
		th {
			text-align: center;
			font-size: 25px;
		}
		td {
			font-size: 20px;
			text-align: center;
			color: white;
		}
	}

.thumbnail {
	border: 0 none;
	box-shadow: none;

	height: 100%;

	img {
		width: 100%;
	}
	#keyboard {
		display: inline;
		.key {
		width: 40px;
		height: 40px;
		background-color: cyan;
		border-radius: 30%;
	}
	}

}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.control {
	margin: 10px;
}
.transparent {
    background: rgba(0, 0, 0, 0);

}

bomb-view{
    position: absolute;
    top: 120px;
    z-index: 2;
}
.blurry {
	   -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
}
.not-blurry {
	   -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  filter: blur(0px);
}

#container {
margin: 100px auto;
width: 688px;
}
#write {
margin: 0 0 5px;
padding: 5px;
width: 20%;
margin-left: 40%;
height: 50px;
font: 1em/1.5 Verdana, Sans-Serif;
background: #fff;
border: 5px solid black;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
#keyboard {
margin: 0;
padding: 0;
list-style: none;
}
    #keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
        .capslock, .tab, .left-shift {
        clear: left;
        }
            #keyboard .tab, #keyboard .delete {
            width: 70px;
            }
            #keyboard .capslock {
            width: 80px;
            }
            #keyboard .return {
            width: 77px;
            }
            #keyboard .left-shift {
            width: 95px;
            }
            #keyboard .right-shift {
            width: 109px;
            }
        .lastitem {
        margin-right: 0;
        }
        .uppercase {
        text-transform: uppercase;
        }
        #keyboard .space {
        clear: left;
        width: 681px;
        }
        .on {
        display: none;
        }
        #keyboard li:hover {
        position: relative;
        top: 1px;
        left: 1px;
        border-color: #e5e5e5;
        cursor: pointer;
        }

#main {
  padding-top: 60px;
  margin: 0 auto;
}

.jumbotron{
    font-family: gameFont;
    margin-top: 20%;
    margin-left: 40%;
    position: absolute;
    z-index: 9;
    text-align: center;
    padding: 25px;
    border-radius: 30%;
}



@import 'directives/main';
@import 'home/main';
@import 'tutorial/main';
@import 'login/main';
