<div class="magictime swashIn transparent" id="save-score">
	<div>
		
	</div>
		<h2>Your Score: {{score}}</h2>
		<button ng-show='!scoreSubmitted' ng-click='saveToDatabase(score, user.id)'>Save Your Score</button> 
		<!-- <div>Enter Your User Name</div>
		<input></input> -->
	<div ng-show='scoreSubmitted'>
		<div id='top-score-container'>
			<div ng-repeat="score in topScores">
				<div>{{score}}</div>
			</div>
			
		</div>
	</div>
		<button ng-click='backToGame()'>Close Score Board</button> 
		
</div>