<div class="magictime swashIn transparent" id="save-score">
	<div>
		<h2>Your Score: {{score}}</h2>
		<h4 ng-show='!user' ui-sref='signup'>Sign up to save Score!</h4>
		<sign-up ng-show='!user'></sign-up>
		<button class="button button-rounded button-flat-primary button-large" ng-show='user && !scoreSubmitted' ng-click='saveToDatabase(score, user.id)'>Check Your Score</button> 
	</div>
	<div ng-show='scoreSubmitted'>
		<div id='top-score-container'>

			<table>
			  <tr>
			  	<th><h3>Rank</h3></th>
			    <th><h3>User</h3></th>
			    <th><h3>Score</h3></th>
			    <th><h3>Date</h3></th>
			  </tr>
			   
			  <tr ng-repeat = "score in topScores">
			  	<td><h4>{{ $index + 1 }}<h4></td>
			    <td><h4>{{ score.user.user_name }}<h4></td>
			    <td><h4>{{ score.score }}<h4></td>
			    <td><h4>{{ score.createdAt.slice(0, 10) }}<h4></td>
			  </tr>
			</table>
		</div>
	</div>
	<div> </div>
	<button class="button button-rounded button-flat-primary button-large" ng-click='backToHome()'> Main Menu </button> 
		
</div>